
<!DOCTYPE html>

<html lang ='es'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar</title>


</head>
<body>
  
  <h1>Buscar Frutas</h1> 

    <br>
    <form action="/buscari" method="POST">
        <select name="txtFruta" required>
          <option value="" disabled selected>Buscar fruta</option>
          {% for fruta in list %}
            <option value="{{ consultID.0 }}">{{ consultID.0 }}</option>
          {% endfor %}
        </select>
        <button type="submit">Buscar</button>
      </form>
      
      <table>
        <thead>
          <tr>
            <td>ID:</td>
            <td>Fruta:</td>
            <td>Temporada:</td>
            <td>Precio:</td>
            <td>Stock:</td>
          </tr>
        </thead>
        <tbody>
            {% if list %}
              {% for fruta in list %}
                <tr>
                  <td> {{consultID.0}} </td>
                  <td> {{consultID.1}} </td>
                  <td> {{consultID.2}} </td>
                  <td> {{consultID.3}} </td>
              </tr>
            {% endif %}
          </tbody>
      </table>
      

</body>

</html>